<h2>Players from the <%= @league %></h2>

<form id="league_form" action="<%= athletes_path %>">
  <%= select "post", "league", Athlete.leagues, :selected => @l %>
</form>

<div id="container">
  <table class="table">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Short Name</th>
      <th>Link</th>
      <% if can? :update, @athletes.first %>
        <th></th>
      <% end %>
    </tr>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.last_name %></td>
        <td><%= athlete.first_name %></td>
        <td><%= athlete.short_name %></td>
        <td><%= link_to "ESPN Profile", athlete.espn_link %></td>
        <% if can? :update, athlete %>
          <td><%= link_to "Edit Athlete", edit_athlete_path(athlete) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

