<h2>Players</h2>

<form id="league_form" action="<%= athletes_path %>">
  <%= select "post", "league", Athlete.leagues, :selected => @l %>
  <% if current_user %>
    <%= link_to "New Athlete", new_athlete_path, :class => "pull-right" %>
  <% end %>
</form>

<div id="container">
  <table class="table">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Short Name</th>
      <th>Link</th>
      <th>Actions</th>
    </tr>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.last_name %></td>
        <td><%= athlete.first_name %></td>
        <td><%= athlete.short_name %></td>
        <td><%= link_to "ESPN Profile", athlete.espn_link %></td>
        <td>
        <% if can? :read, athlete %>
          <%= link_to "Show", athlete_path(athlete) %>
        <% end %>
        <% if can? :update, athlete %>
          | <%= link_to "Edit", edit_athlete_path(athlete) %>
        <% end %>
        <% if can? :destroy, athlete %>
           | <%= link_to "Destroy", athlete_path(athlete), :method => :delete %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="ajax-loader">
  <%= image_tag "ajax-loader.gif" %>
</div>
