<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bug.name %>
</p>

<p>
  <b>Species:</b>
  <%= @bug.species %>
</p>

<p>
  <b>User:</b>
  <%= @bug.user_id %>
</p>


<% if can? :update, @bug %>
  <%= link_to 'Edit', edit_bug_path(@bug) %> |
<% end %>
<%= link_to 'Back', bugs_path %>
